{% import "common.j2" as common %}
{{ common.PROBLEM_STATEMENT }}

With the following architecture:
```
{{ ref_arch_src }}
```
You generated the following solution and it failed correctness:
```
{{ custom_triton }}
```
Here's the metadata of the correctness error:
```
{{ metadata }}
```

{{ spec }}

Please review the load and store code within the {{ area }} in the solution you generated.
Please consider how your custom Triton kernels are implemented, how it is different from the reference implementation, and fix the correctness error in the new model code. Name your output architecture ModelNew. Please output the corrected code in codeblocks. {{ common.NO_DO_INSTRUCTION }}
{{ common.TRITON_API_FIX }}
